.card{
    background-color: #233329;
    padding: 1rem;
    border-radius: 5px;
    color:white;
    width: 400px;
    box-shadow: 2px 2px rgba(0,0,0,0.2);
}
.card p{
    font-size:medium;
    line-height: 1.6;
}
.card:hover{
    border: 3px solid var(--secondary-color); 
    background-color: inherit; 
    color: var(--secondary-color); 
    box-shadow: 4px 4px rgba(0,0,0,0.3);
    transition: 0.3s;
}