.container{
    margin: 1rem;
    color:black;
    line-height: 1.8;
}
.aboutus h1,.vision h1,.mission h1,.whatwedo h1{
    color:var(--secondary-color);
}
.aboutus p,.vision p,.mission ul li{
    font-size: large;
    margin: 1rem 0;
}
.highlight{
    font-weight: bold;
    font-style: italic;
}
.tagline{
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #233329;
    padding: 1rem;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 5px;
    color: white;
}
.tagline:hover{
    border:2px solid var(--secondary-color);
    background-color: inherit;
    color: var(--secondary-color);
    transition: 0.3s;
}
.cardcontainer{
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.cardcontainer>*{
    flex: 0 0 40%;
}
.whatwedo h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    margin: 40px 0;
}
@media(max-width:480px){
    .tagline{
        font-size: large;
    }
    .cardcontainer>*{ flex: 0 0 100%; }
}
