.biocard{
    display: flex;
}
.biomain {
    margin:20px;
    color: #233323;
    margin: 3rem;
}
.biomain *{
    color: var(--secondary-color);
}
.biotext p{
    text-align: center;
}
.biotext
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #233323;
}
.biotext,.biotext2{
    flex:1;
}
.biotext2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.biotext2 h1{
    margin-bottom: 1.2rem;
}
.biocard img,.biocard2 img{
    flex:1;
    border-radius: 5px;
    width: 40%;
    height: auto;
}
.biotext h1,.biotext2 h1{
    color:var(--primary-color);
}
.bioquote{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin:3rem 0;
    background-color: var(--bg-over);
    padding: 2.3rem;
    border-radius: 10px;
}
.biotext3{
    border-right:5px solid var(--primary-color);
}
.biotext3 h2{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
    color: var(--primary-color);
}
.biotext3 p{
    font-size: 1.4rem;
    line-height: 1.6;
    margin-right: 1rem;
}
.biotext3,.biotext4{
    flex:1;
}
.author{
    text-align: right;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    color: var(--tertiary-color);
}
.biotext p{
    font-size: 1.35rem;
    line-height: 1.6;
    margin-right: 10px;
}
.biotext h1{
    margin-bottom: 40px;
}
.biocard2{
    display:flex;
    margin-top: 50px;
    gap: 10px;
}
.biocard2 ul li{
    font-size: 23px;
    font-weight: 600;
}
.biocard2 p{
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 1.6;
    margin-left: 10px;
}
.biobot h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 20px 0px;
    color: white;
    padding: 20px;
}
.biobot{
    background-color: rgb(3, 45, 3);
}
.bioevent{
    background-color: #ebe9e8;
    padding: 2rem;
    border-radius: 10px;
}
.bioevent h1{
    color: var(--primary-color);
    margin-bottom: 1.2rem;
    font-size: 3rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.upcoming{
    display: flex;
    flex: 1 1 350px;
    max-width: 500px;
}
@media(max-width:480px){
    .biocard{
        flex-direction: column;
    }
    .biomain{
        margin:10px;
    }
    .biocard img{
        width: 100%;
    }
    .biocard2 img{
        width:100%;
    }
    .biocard2{
        flex-direction: column-reverse;
    }
    .biobot h1{
        font-size: 1.3rem;
        text-align: center;
    }
    .biotext h1{
        margin-bottom: 20px;
        font-size: 2.3rem;
    }
    .bioquote{
        flex-direction: column;
        text-align: center;
    }
    .biotext3{
        border-right: none;
        border-bottom: 5px solid var(--primary-color);
        margin-bottom: 1.2rem;
    }
    .biotext3 h2{
        font-size: 2.5rem;
    }
}