.navbar{
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #233329;
}
.navlinks{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    flex-wrap: wrap;
    
}
.navlinks li a{
    text-decoration: none;
    color: white;
}
.title{
    font-size: 1.7rem;
    color: #b0cdc5;
    letter-spacing: 2px;
}
.navlinks li a:hover{
    color: var(--primary-color);
    transition: 0.3s;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.logoImage{
    width: 4rem;
    height: 4rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.navlinks li a{
    display: inline-block;
    padding: 8px 6px;
}
.sidenavbar{
    position: absolute;
    top: 0;
    right:0;
    z-index: 99;
    background-color: rgba(252, 250, 250,0.1);
    backdrop-filter: blur(15px);
    height: 100%;
    width: 200px;
    display: none;
}
.sidenavbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.sidenavbar ul li{ 
    padding: 15px; 
} 
.sidenavbar ul li a{
    text-decoration: none; 
    color: black; 
    font-size: 1.2rem; 
} 
.sidenavbar ul li a:hover{ 
    color: var(--primary-color); 
    transition: 0.3s; 
}
.closeIcon{
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.menuIcon{
    display: none;
    cursor: pointer;
    color: white;
}
@media(max-width:600px){
    .menuIcon{
        display: block;
    }
    .liitem{
        display: none;
    }
}
@media(max-width:480px){
    .sidenavbar{
        width: 100%;
    }
}